.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #76839b;
  width: 100px; 
  height: 150px; 
  border-radius: 0 2px 2px 0;
  box-shadow: 5px 5px 20px #666;
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 14px; 
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}


.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 160px;
  left: 45%;
  transform: translateX(-50%);
  z-index: 1000;
}
.book img {
  width: 100%;
  height: auto; 
  border-radius: 5px; 
}


.gif-like-video::-webkit-media-controls {
  display: none !important; 
}

.gif-like-video {
  object-fit: cover; 
}


.gif-like-video {
  width: 100%; 
  max-width: 1200px;
  height: auto;
}
