a.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightgrey;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  margin: 50px; 
     font-family: 'Inter', sans-serif; 
}

.btn:hover {
  background-color: blanchedalmond;
}

.back-btn {
  background-color: rgb(233, 230, 230);
}

.home-btn {
  background-color: rgb(230, 231, 227);
}


.button-container {
  position: fixed; 
  bottom: 20px; 
  left: 20%; 
  transform: translateX(-50%); 
  text-align: center;
}
