body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(243, 234, 213);
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color:  #e4e4e4;
    padding: 10px 0;
}

.navbar a {
    font-size: 16px;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

.navbar a:hover {
    background-color:#e4e4e4;
}


.entries {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.entry {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: rgb(60, 59, 84);
    transition: transform 0.3s ease;
}

.entry:hover {
    transform: scale(1.02);
}


.entry img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    flex-shrink: 0;
}


.entry h2 {
    margin: 0;
    font-size: 20px;
}

.entry p {
    margin: 5px 0 0;
    font-size: 14px;
}

/* Button Styling */
.btn {
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    background-color: #e4e4e4;
    transition: background-color 0.3s ease;
    position: fixed;
    left: 20px;
    bottom: 20px;
}

.btn:hover {
    background-color:#e4e4e4;
}
