h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 40px;
    color: #577257;
    
  }
section {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain; 
    width: 100%;
    height: 100vh;
}


.I {
    background-image: url('');
}

.II {
    background-image: url('images/Hydrang8.jpg');
}

.III {
    background-image: url('images/yellorose.jpg');
}

.IV {
    background-image: url('images/Peo2.jpg');
}

.V {
    background-image: url('images/Alstroemerias.jpg');
}


body {
    background-image: url('images/8.t.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: antiquewhite;
}


body::after {
    content: "";
    position: fixed;
    bottom: 0;
    right: 0;
    width: 180px;
    height: 180px;
    background-image: url('images/entry9/t.png');
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    opacity: 0.8;
    animation: moveCandy 10s infinite;
}

body::before {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 130px;
    height: 130px;
    background-image: url('images/8.te.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    opacity: 0.8;
}
