body{ color: rgb(63, 100, 132)}
    
h1 {
    left: 0;
    position: absolute;
    text-align: center;
    line-height: 10px;
    top: -1%;
    width: 100%;
}
h2 { text-align: center; }

/* other styling */
body { text-align: center; }
body{
  body {
    background-color: #dce9dc;
    color: #2E475D;
    font-family: 'Lexend Deca', 'Space Grotesk', Arial, sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 50px;
    width: 100%;
    text-align: center;
}

}

body{ 
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
  
}/* Styling */

