.gif-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url('images/giff-web.gif') no-repeat center center/cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.quote {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.poem {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  line-height: 1.8em;
  max-width: 800px;
  margin: 0 auto;
}

.quote-explanation {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
  color: #FFC0CB;
  font-family: 'Roboto', sans-serif;
  max-width: 200px; 
  text-align: right;
}
