body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Merriweather', serif;
    background: url('images/10entry.gif') no-repeat center center fixed;
    background-size: cover;
  }
  
  .poem-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 2em;
    line-height: 1.8;
    max-width: 80%;
    padding: 10px;
  }
  
  .quote {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-style: italic;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #c90e0e;
  }
  
  .poem-line {
    margin: 20px 0;
    transition: opacity 1s ease-in-out;
    opacity: 0;
  }
  
  .poem-line.show {
    opacity: 1;
  }
  
