.mantra-merch-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
  max-width: 1000px;
  margin: auto; }

.mantra-merch-content {
  text-align: left;
  margin-bottom: 20px;
}

.mantra-merch-content h2 {
font-family: 'Inter', sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
  color: black;
  
}

.mantra-merch-content p {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  color: black;
}

.mantra-merch-image img {
  width: 100%; 
  max-width: 900px; 
  margin-bottom: 20px; 
  border-radius: 8px;
 
}

