h1 {
    position: fixed; 
    top: 0; 
    width: 100%; 
    font-size: 250%;
    color: #38381f;
    text-align: center;
    z-index: 10; 
    background-color: ; 
    padding: 10px 0; 
    box-shadow:0 4px 6px rgb(222, 181, 181); 
}

p {
    color: #575b34;
    font-size: 1rem;
    text-align: center;
    margin-top: 100px;}



body {
    font-family: 'Pacifico', cursive; 
    background-color: #fdf5e6; 
    margin: 0;
    padding: 20px;
}


.hover-text-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /
    gap:20px;
    text-align: center;
    margin-top: 30px;
}


.hover-text {
    font-size: 1rem; 
    color: #697763; 
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease; 
}

.hover-text:hover {
    color: #ffec3f66;
    transform: rotate(5deg) scale(1.1); 
}


.popup-image img {
    max-width: 700px; 
    max-height: 700px; 
    object-fit: contain; 
  position: absolute; 
    top: 60%; 
    left: 50%; 
}



  
